header.main{*zoom:1;max-width:78.75em;margin-left:auto;margin-right:auto;*zoom:1;display:block;font-family:"europa","Helvetica Neue",Helvetica,Arial,sans-serif;padding:2em 2em}
header.main:before,header.main:after{content:" ";display:table}
header.main:after{clear:both}
header.main:before,header.main:after{content:" ";display:table}
header.main:after{clear:both}
@media screen and (min-width: 82.75em){header.main{padding:3em 0}}
header.main h1 a{color:transparent;font:0/0 a;text-shadow:none;background:url("/images/bitters-logo.svg") no-repeat center;background-size:contain;display:block;margin-bottom:18px;width:240px;height:78px}
@media screen and (min-width: 38.75em){header.main h1 a{float:left;margin-top:-16px;margin-bottom:-20px}}
@media screen and (min-width: 38.75em){header.main nav{float:right}}