.wrapper{
	*zoom:1;
	max-width:78.75em;
	margin-left:auto;
	margin-right:auto;
	padding:0 2em
}

.wrapper:before,.wrapper:after {
	content: " ";
	display: table;
}
.wrapper:after{
	clear:both
}

@media screen and (min-width: 82.75em){
	.wrapper{padding:0}
}

.span12 {
	@include span-columns(12);
}

.span11 {
	@include span-columns(11);
}

.span10 {
	@include span-columns(10);
}

.span9 {
	@include span-columns(9);
}

.span8 {
	@include span-columns(8);
}

.span7 {
	@include span-columns(7);
}

.span6 {
	@include span-columns(6);
}

.span5 {
	@include span-columns(5);
}

.span4 {
	@include span-columns(4);
}

.span3 {
	@include span-columns(3);
}

.span2 {
	@include span-columns(2);
}

.span1 {
	@include span-columns(1);
}